# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff
db.sqlite3
/staticfiles/
/media/

# Virtual environment
venv/

.env
.DS_Store
.env
node_modules
.idea
.DS_Store
.vscode
.next
.npm
.yarn
__pycache__/
.venv
db.sqlite3
.claude
graphify-out
