{% extends 'base.html' %}
{% load static %}

{% block title %} Corporate Tax Calculator - Tax Information Portal {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="{% static 'corporate_tax.css' %}">

{% endblock %}

{% block content %}
<div class="tax-container">
    <h2 data-en="Corporate Tax Calculator" data-ne="संस्थागत कर क्याल्कुलेटर">
        Corporate Tax Calculator
    </h2>
    <p style="text-align:center;">Coming soon...</p>
</div>
{% endblock %}