{% extends 'base.html' %}
{% load static %}

{% block title %} Income Tax Calculator - Tax Information Portal {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="{% static 'income_tax.css' %}">

{% endblock %}

{% block content %}
<div class="tax-container">
    <h2 data-en="Income Tax Calculator" data-ne="आयकर क्याल्कुलेटर">
        Income Tax Calculator
    </h2>
    <p style="text-align:center;">Coming soon...</p>
</div>
{% endblock %}